

<div  id="gradient-background">
    <footer class="py-3 my-4" >
      <ul class="nav justify-content-center border-bottom pb-3 mb-3" >
        <li class="nav-item"><a href="https://www.linkedin.com/in/joseph-roustom-182250288/" class="nav-link px-2 text-body-light" style="color:white">LinkedIn</a></li>
        <li class="nav-item"><a href="https://github.com/JosephRoust0m/Investmeter" class="nav-link px-2 text-body-white" style="color:white">GitHub</a></li>
        <li class="nav-item"><a href="mailto:joseph03.roustom@gmail.com" class="nav-link px-2 text-body-white"  style="color:white">Contact Us</a></li>
      </ul>
      <%var d= new Date(); %>
      <p class="text-center " style="color:white">© Copyright <%= d.getFullYear() %></p>
    </footer>
</div>


