<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/main.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>Investmeter</title>
</head>

<style>
.welcome {
  width: 100%;
  position: relative;
  animation: mymove 2s;
  animation-delay: 0s;
}
#second {
  position: relative;
  animation: mymove 2s;
  animation-delay: 0s;
}
#third {
  position: relative;
  animation: mymove 2s;
  animation-delay: 0s;
}

@keyframes mymove {
  from {left: -50%;}
  to {left: 0%;}
}

/* Add new CSS classes */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px; 
}

.form-container .form-content {
  flex-grow: 1;
}

.form-container .message-container {
  min-height: 50px; 
  flex-shrink: 0;
}

.message-container .error-message {
  color: rgb(147, 7, 7);
  font-size: 15pt;
}

.message-container .success-message {
  color: rgb(7, 147, 79);
  font-size: 15pt;
}

</style>

<header class="d-flex flex-wrap justify-content-center py-3  border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4" style="color:white">Investmeter</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" id="one" style="color:white">Stocks Data</a></li>
    <li class="nav-item"><a href="/news" class="nav-link" id="one" style="color:white">News</a></li>
   
  </ul>
</header>

<body id="gradient-background">
  <div style="background-color:white">
    <div class="container">
      <% if(locals.error || locals.success || locals.errorOriginal || locals.errorsize){ %>
        <h1 style="text-align: center;" class="mb-3">
      <%}else{ %>
        <h1 style="text-align: center;" class="mb-3 welcome" id="div">
      <%}%>
      Welcome to Investmeter
      </h1>
    </div>
    <section>
      <div class="container col-xl-10 col-xxl-8">
        <div class="row align-items-center g-lg-5">
          <% if(locals.error || locals.success || locals.errorOriginal || locals.errorsize){ %>
            <div class="mx-auto col-5 mt-5">
          <%}else{ %>
            <div class="mx-auto col-5 mt-5" id="second">
          <%}%>
          
          <div class="form-container">
            <div class="btn-group w-100 mb-4" role="group" aria-label="Sign in or Sign up">
              <button type="button" class="btn btn-dark" id="showSignIn">Sign In</button>
              <button type="button" class="btn btn-outline-dark" id="showSignUp">Sign Up</button>
            </div>

            <div id="signInForm" style="display: block;" >
                <form class="p-4 p-md-5 border rounded-3 form-content" action="/signin/check" method="post" style="display: flex; flex-direction: column; justify-content: space-between;">
                <div class="container px-10" style="padding-left: 20%;">
                  <h1 class="h3 mb-3 fw-normal" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Sign in here</h1>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                  <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-dark mt-5" type="submit">Sign in</button>
              </form>
              <div class="message-container">
                <% if(locals.error){ %>
                  <div class="error-message">
                    <%=error%>
                  </div>
                <% } %>
              </div>
            </div>

            <div id="signUpForm" style="display: none;">
              <form class="p-4 p-md-5 border rounded-3 form-content" action="/signup" method="post">
                <div class="container" style="padding-left: 20%;">
                  <h1 class="h3 mb-3 fw-normal" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Sign up here</h1>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password2">
                  <label for="floatingPassword">Retype Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingName" placeholder="username_1" name="username">
                  <label for="floatingName">Username</label>
                </div>
                <button class="w-100 btn btn-lg btn-dark" type="submit">Sign up</button>
              </form>
            </div>
          </div>


            <div class="message-container">
              <% if(locals.errorOriginal){ %>
                <div class="error-message">
                  <%=errorOriginal%>
                </div>
              <% } else if(locals.errorsize){ %>
                <div class="error-message">
                  <%=errorsize%>
                </div>
              <% } else if(locals.success){ %>
                <div class="success-message">
                  You have signed Up!
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%- include("partials/footer.ejs"); %>
</body>
<script>
              document.getElementById('showSignIn').addEventListener('click', function () {
              document.getElementById('signInForm').style.display = 'block';
              document.getElementById('signUpForm').style.display = 'none';
              this.classList.add('btn-dark');
              this.classList.remove('btn-outline-dark');
              document.getElementById('showSignUp').classList.add('btn-outline-dark');
              document.getElementById('showSignUp').classList.remove('btn-dark');
            });

            document.getElementById('showSignUp').addEventListener('click', function () {
              document.getElementById('signInForm').style.display = 'none';
              document.getElementById('signUpForm').style.display = 'block';
              this.classList.add('btn-dark');
              this.classList.remove('btn-outline-dark');
              document.getElementById('showSignIn').classList.add('btn-outline-dark');
              document.getElementById('showSignIn').classList.remove('btn-dark');
            });
</script>
</html>
